.App {
  text-align: center;
}

.breaking {
  animation: breaking-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none;
}

.working {
  animation: working-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none;
}

.container {
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes breaking-spin {
  from {
    transform: scale(0deg);
  }
  to {
    transform: scale(360deg);
  }
}

@keyframes working-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
